/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Toma el 100% de la altura de la ventana */
  background-color: #f0f7ff; /* Color de fondo azul claro */
}

.header {
  /* Estilos para el encabezado */
  margin-bottom: 20px; /* Espaciado inferior */
}

.form-container {
  background-color: white; /* Fondo blanco del contenedor del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  width: 100%; /* Ancho del contenedor del formulario */
  max-width: 400px; /* Ancho máximo */
}

/* Estilos para los campos de entrada de datos */
.form-control {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* Estilos para el botón */
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}
