<app-dashboard></app-dashboard>
<mat-toolbar color = "primary" style="background-color: #666;">

  <span>Gestión Especialidad</span>
  <span class="example-spacer"></span>

  <a [routerLink]="'/registrar-especialidad'"
  mat-icon-button class = "example-icon favorite-icon mr20 ml70" arial-label="Example icon-button with heart icon">
   <mat-icon>edit_note</mat-icon>
   Regsitro Especialidad
  </a>

  <a [routerLink]="'/lista-especialidades'"
  mat-icon-button class = "example-icon favorite-icon mr20 ml200" arial-label="Example icon-button with heart icon">
   <mat-icon>list_alt</mat-icon>
   Lista Especialidades
  </a>

 </mat-toolbar>


