
<app-dashboardpaciente></app-dashboardpaciente>

<div class="formprincipal">
<div class="col-md-6 offset-md-3">
  <div class="fondo">
    <img src="assets/paciente_r.png" />
  </div>
  <h3 class="text-center">Registrar Paciente</h3>
  <!--SE DECLARA EL METODO DE NUESTRO COMPONENTE REGISTRAR paciente-->
  <!--ngModel se encarga de relacionar nuestro formulario, con el paciente creado en registrar paciente TS-->
  <form (ngSubmit)= "onSubmit()" #pacienteForm = "ngForm">
      <div class="form-group col-md-6">
            <label>Cedula: </label>
                <input type = "number"
                class = "form-control"
                id = "cedula"
                [(ngModel)] = "paciente.cedula"
                name = "cedula"
                required
                minlength="8"
                maxlength="10"
                placeholder="Digite su cedula"
                #cedula = "ngModel"
                >
          <div class="alert alert-danger" *ngIf= "cedula.invalid && (cedula.dirty || cedula.touched)">
              <div *ngIf= "cedula.errors.required">
                  Digite su nombre por favor
              </div>
              <div *ngIf= "cedula.errors.minlength">
                  Debe contener minimo 4 caracteres
              </div>
              <div *ngIf= "cedula.errors.maxlength">
                  Debe contener maximo 10 carcateres
              </div>
          </div>
      </div>
      <div class="form-group col-md-6">
        <label>Nombre: </label>
           <input type = "text"
           class = "form-control"
            id = "nombres"
            [(ngModel)] = "paciente.nombres"
            name = "nombres"
            required
            placeholder="Digite su nombre"
            #nombres = "ngModel"
           >
           <div class="alert alert-danger" *ngIf= "nombres.invalid && (nombres.dirty || nombres.touched)">
               <div *ngIf= "nombres.errors.required">
                   Digite su nombre por favor
               </div>
           </div>
       </div>
       <div class="form-group col-md-6">
        <label>Apellidos: </label>
           <input type = "text"
           class = "form-control"
            id = "apellidos"
            [(ngModel)] = "paciente.apellidos"
            name = "apellidos"
            required
            placeholder="Digite su apellido"
            #apellidos = "ngModel"
           >
           <div class="alert alert-danger" *ngIf= "apellidos.invalid && (apellidos.dirty || apellidos.touched)">
               <div *ngIf= "apellidos.errors.required">
                   Digite su apellido por favor
               </div>
           </div>
       </div>
       <div class="form-group col-md-6">
        <label>Tipo de Sangre:</label>
        <select class="form-control" id="rh" [(ngModel)]="paciente.rh" name="rh" required>
          <option value="" selected disabled defaultSelected>Seleccione su tipo de sangre</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>
    </div>
       <div class="form-group col-md-6">
        <label>Telefono: </label>
           <input type = "text"
           class = "form-control"
            id = "telefono"
            [(ngModel)] = "paciente.telefono"
            name = "telefono"
            required
            minlength="10"
            placeholder="Digite su telefono"
            #telefono = "ngModel"
           >
           <div class="alert alert-danger" *ngIf= "telefono.invalid && (telefono.dirty || telefono.touched)">
               <div *ngIf= "telefono.errors.required">
                   Digite su telefono por favor
               </div>
               <div *ngIf= "telefono.errors.minlength">
                Debe contener minimo 10 caracteres
            </div>
           </div>
       </div>
        <div class="form-group col-md-6">
          <label>Email: </label>
             <input type = "text"
             class = "form-control"
              id = "correo"
              [(ngModel)] = "paciente.correo"
              name = "correo"
              pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
              required
              placeholder="Digite su Email"
              #correo = "ngModel"
             >
             <div class="alert alert-danger" *ngIf= "correo.invalid && (correo.dirty || correo.touched)">
              <div *ngIf= "correo.errors.required">
                  Digite su email por favor
              </div>
              <div *ngIf= "correo.errors.pattern">
                  Digite un email valido ej: user@gmail.com
              </div>
              </div>
         </div>
         <div class="form-group col-md-6">
          <label>Departamento: </label>
             <input type = "text"
             class = "form-control"
              id = "departamento"
              [(ngModel)] = "paciente.departamento"
              name = "departamento"
              required
              placeholder="Digite su departamento"
              #departamento = "ngModel"
             >
             <div class="alert alert-danger" *ngIf= "departamento.invalid && (departamento.dirty || departamento.touched)">
                 <div *ngIf= "departamento.errors.required">
                     Digite su departamento por favor
                 </div>
             </div>
         </div>
         <div class="form-group col-md-6">
          <label>Ciudad: </label>
             <input type = "text"
             class = "form-control"
              id = "ciudad"
              [(ngModel)] = "paciente.ciudad"
              name = "ciudad"
              required
              placeholder="Digite su ciudad"
              #ciudad = "ngModel"
             >
             <div class="alert alert-danger" *ngIf= "ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                 <div *ngIf= "ciudad.errors.required">
                     Digite su ciudad por favor
                 </div>
             </div>
         </div>
         <div class="form-group col-md-6">
          <label>Direccion: </label>
             <input type = "text"
             class = "form-control"
              id = "direccion"
              [(ngModel)] = "paciente.direccion"
              name = "direccion"
              required
              placeholder="Digite su direccion"
              #direccion = "ngModel"
             >
             <div class="alert alert-danger" *ngIf= "direccion.invalid && (direccion.dirty || direccion.touched)">
                 <div *ngIf= "direccion.errors.required">
                     Digite su direccion por favor
                 </div>
             </div>
         </div>

         <button class="btn btn-success"[disabled]= "!pacienteForm.form.valid">Guardar</button>

  </form>
</div>
</div>
