.espacio-encabezado {
    margin-top: 20px; /* Ajusta la cantidad de espacio que deseas */
  }

  .table th {
    background-color: rgb(63,81,181); /* Cambia el color de fondo de los encabezados */
    color: white; /* Cambia el color del texto de los encabezados */
  }

  
  /* CSS para reducir el espaciado general de la tabla */
.table {
    border-collapse: collapse; /* Combina los bordes de las celdas */
    border-spacing: 0; /* Elimina el espaciado entre celdas */
  }
  
  .table td,
  .table th {
    padding: 5px; /* Ajusta el padding según tus necesidades */
    border: 1px solid #ccc; /* Agrega bordes a las celdas */
  }
  

  /* CSS para centrar los títulos de los encabezados de la tabla */
.table thead th {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  /* Opcionalmente, puedes ajustar el estilo visual del encabezado */
  .table thead th {
    padding: 10px; /* Ajusta el padding según tus necesidades */
    font-weight: bold; /* Texto en negrita */
  }
  