<app-dashboard></app-dashboard>
<div class="container">
  <!-- Botón para ir a la página de registro de especialista -->
  <div class="d-flex justify-content-center">
  <button class="btn btn-info mb-3" [routerLink]="['/registro-especialista']">Crear Especialista</button>
</div>
  <!-- Tabla para mostrar la lista de especialistas -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itera sobre la lista de especialistas y muestra los detalles en filas -->
      <tr *ngFor="let especialistas of especialista">
        <th scope="row">{{especialistas.cedula}}</th>
        <td>{{especialistas.nombres}}</td>
        <td>{{especialistas.especialidad.nombre}}</td>
        <td>
          <!-- Botón para editar un especialista -->
          <button (click)= "ActualizarEspecialista(especialistas.cedula)" class="btn btn-info">Editar</button>
          <!-- Botón para eliminar un especialista 
          <button class="btn btn-danger">Actualizar</button>-->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Componente de enrutamiento para mostrar contenido dinámico -->
  <router-outlet></router-outlet>
</div>
