<mat-toolbar color = "primary">

  <span>Gestión EPS</span>
  <span class="example-spacer"></span>

  <a [routerLink]="'/dashboardpaciente'"
  mat-icon-button class = "example-icon favorite-icon mr20 ml70" arial-label="Example icon-button with heart icon">
   <mat-icon>people</mat-icon>
   Paciente
  </a>

  <a [routerLink]="'/dashboardespecialista'"
  mat-icon-button class = "example-icon favorite-icon mr20 ml70" arial-label="Example icon-button with heart icon">
   <mat-icon>badge</mat-icon>
   Especialista
  </a>

  <a [routerLink]="'/dashboardcitas'"
  mat-icon-button class = "example-icon favorite-icon mr40 ml100" arial-label="Example icon-button with heart icon">
   <mat-icon>event_available</mat-icon>
   Cita
  </a>

  <a [routerLink]="'/dashboardespecialidad'"
  mat-icon-button class = "example-icon favorite-icon mr130 " arial-label="Example icon-button with heart icon">
   <mat-icon>monitor_heart</mat-icon>
   Especialidad
  </a>

 </mat-toolbar>
